  body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 15px;
    transition: width 0.3s ease;
    overflow-x: hidden;
  }

  .sidebar h3 {
    margin-top: 0;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    padding: 8px;
    border-bottom: 1px solid #495057;
    cursor: pointer;
    overflow: hidden;
  }

  .sidebar button {
    background-color: #495057;
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar input, select, textarea{
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }

  .sidebar.collapsed {
    width: 50px;
  }

  .sidebar.collapsed h3,
  .sidebar.collapsed ul {
    display: none;
  }

  /* Coluna direita (conteúdo + painel inferior) */
.right-side {
  display: flex;
  flex-direction: column;
  height: 100vh;  /* ocupa toda a altura da janela */
  width: 100%;
}

  /* Conteúdo principal */
.main-content {
  flex: 1;              /* ocupa todo o espaço disponível acima do terminal */
  overflow: auto;       /* rolagem caso o conteúdo passe da tela */
  padding: 10px;
  background: #fff;
}

  /* Resizer */
.resizer {
  height: 6px;
  cursor: row-resize;
  background: #666;
}

  /* Painel inferior (tipo terminal do VS Code) */
.bottom-panel {
  height: 200px;        /* altura inicial */
  min-height: 50px;
  max-height: 80vh;
  overflow: auto;
  background: #111;
  color: white;
  font-family: monospace;
  border-top: 2px solid #444;
  padding: 10px;
}


.arquivo-item.ativo {
  background-color: white;
  color: #495057;
  font-weight: bold;
  border-radius: 5px;
}

.grafo-container {
  display: flex;
  justify-content: center;
}

#sqlTextBox{
    resize: vertical;
}