/* Reset do body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* Topbar estilo programa */
.topbar {
  background-color: #2c2f33;
  color: white;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  font-size: 10px;
  border-bottom: 1px solid #444;
  position: relative;
  z-index: 10;
}

.menu {
  position: relative;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
}

.menu-button:hover {
  background-color: #444;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2c2f33;
  border: 1px solid #444;
  min-width: 120px;
  z-index: 100;
}

.dropdown a {
  display: block;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #444;
}

.menu:hover .dropdown {
  display: block;
}

/* Container principal: sidebar + right-side */
.container-principal {
  display: flex;
  height: calc(100vh - 35px); /* altura total - topbar */
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  padding: 10px;
  transition: width 0.3s ease;
  overflow-x: hidden;
  font-size: 15px;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
  border-bottom: 1px solid #495057;
  cursor: pointer;
  overflow: hidden;
}

.sidebar button {
  background-color: #495057;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.sidebar input, select, textarea {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.sidebar.collapsed {
  width: 40px;
}

/* Quando a sidebar estiver colapsada, esconde todo o conteúdo */
.sidebar.collapsed .sidebar-content {
  display: none;
}


/* Coluna direita */
.right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Conteúdo principal */
.main-content {
  flex: 1;
  overflow: auto;
  padding: 10px;
  background: #fff;
}

/* Resizer */
.resizer {
  height: 6px;
  cursor: row-resize;
  background: #666;
}

/* Terminal */
.bottom-panel {
  height: 200px;
  min-height: 50px;
  max-height: 80vh;
  overflow: auto;
  background: #111;
  color: white;
  font-family: monospace;
  border-top: 2px solid #444;
  padding: 10px;
}

/* Item selecionado na lista de arquivos */
.arquivo-item.ativo {
  background-color: white;
  color: #495057;
  font-weight: bold;
  border-radius: 5px;
}

/* Centralizar grafo */
.grafo-container {
  display: flex;
  justify-content: center;
}

/* Textarea SQL */
#sqlTextBox {
  resize: vertical;
}
